<h1>Listing categories</h1>
<% if @categories%>  
  <%= sortable_tree @categories, :path => 'categories/tree/base', :new_url => new_category_path, :max_levels => 4
%>
<% end %>

<%= link_to 'New Category', new_category_path %>
<%= link_to 'New Product', new_product_path %>
<%= link_to 'Manage Category', manage_categories_path %>
